 header {
  background-color: #1a2d3b;   
  padding:10px;
  font-size:20px;
  display:flex;
}
a:hover {
  color: #f95625;            
}
h1 {
 color:  rgb(245, 248, 245);
 font-size: 40px;
 font-style:oblique;
 background-color: #1a2d3b;
 border-radius: 30px;
}

h2 { color: rgb(241, 239, 239);
  background-color: #2f5169;
  padding: 20px;
  font-size: 30px;
}
h3{
  font-size: 20px;
}

body {
  text-align: center;
  background-color: rgb(253, 252, 216);
}
ul {
  list-style: none;
  padding: 10px;
}
li {
  display: inline;
  margin: 20px;
  background-color: #f3f5b9;
  padding: 20px;
  border-radius: 10px;
}
.copyright {
  background-color:  #78aacc;
}

/* ================contact part ===============*/

.Contact{
   margin-top: 30px;
   background-color:#78aacc;
   padding: 20px;
  margin: auto; 
  width: 500px;
}



/* ===============feedback section , image ==============*/

.feedback input,
.feedback button {
  width: 600px;            
    padding: 10px;           
    margin-top: 30px;
    font-size: 16px; 
    border-radius: 30px;        
}
.feedback textarea{
  width: 500px;
  height: 300px;
  margin-top: 30px;
}
/*============image section=========*/

img{
  width: 300px;
  height:300px;
  border-radius: 50%;
  object-fit: cover;
}


/*============== course part with hover=============*/
.course{
    width: 80%;                  
    margin: 20px auto;            
    padding: 20px;              
    background: #fed1d1;         
    border-radius: 10px;          
    box-shadow: 4px 4px 7px rgba(0,0,0,0.2);   
       
}
.course:hover{
   transform: scale(1.05);      
}
/*================grade section==================*/
main {
    width: 80%;
    margin: 40px auto;
    font-family: Arial, sans-serif;
}
table {
    width: 100%;    
    margin-top: 20px;
    font-size: 18px;
}
thead th {
    background: #f4c8c1;           
    padding: 12px;
    font-size: 20px;
}
td, th {
    border: 2px solid #030303;
    padding: 12px;
}
tbody tr:hover {
    background: #dce9ff;         
    transition: 0.3s;
}
table {
    max-width: 100%;
    overflow: hidden;
}


