
header {
  background-color: #fdb12e;   
  padding: 10px;
  font-size:xx-large;
  border-radius: 80px;
}
a:hover {
  color: #f9eb8f;            
}
h1 {
  margin-top: 60px;
  color:  darkblue;
  font-size: 32px;
}

body {
  text-align: center;
  background-color: rgb(253, 253, 216);
}
ul {
  list-style: none;
  padding: 0;
}
li {
  display: inline;
  margin: 10px;
}
.Contact{
   margin-top: 30px;
   background-color: #caf9fb;
   padding: 20px;
   border-radius: 20px;
}
.feedback input,
.feedback button {
  width: 600px;            
    padding: 10px;           
    margin-top: 30px;
    font-size: 16px; 
    border-radius: 30px;        
}
.feedback textarea{
  width: 500px;
  height: 300px;
  margin-top: 30px;
}
img{
  width: 300px;
  height:auto;
}
.course{
    width: 80%;                  
    margin: 20px auto;            
    padding: 20px;              
    background: #fed1d1;         
    border-radius: 10px;          
    box-shadow: 4px 4px 7px rgba(0,0,0,0.2);   
       
}
.course:hover{
   transform: scale(1.05);      
}
main {
    width: 80%;
    margin: 40px auto;
    text-align: center;
    font-family: Arial, sans-serif;
}
table {
    width: 100%;    
    margin-top: 20px;
    font-size: 18px;
}
thead th {
    background: #007bff;           
    padding: 12px;
    font-size: 20px;
}
td, th {
    border: 1px solid #ccc;
    padding: 12px;
}
tbody tr:hover {
    background: #dce9ff;         
    transition: 0.3s;
}
table {
    max-width: 100%;
    overflow: hidden;
}

